<template>
  <form class="form" id="fmEdit" @submit.prevent="sendForm">
    <h2>Редактирование тегов</h2>
    <div class="form__row">
      <div class="form__field">
        <label for="name">Имя</label>
        <input type="text" name="name" id="name" v-model="val_name" required>
      </div>
    </div>
    <div class="form__row">
      <div class="form__field">
        <label for="text">Текст</label>
        <textarea name="text" v-model="val_text" rows="3"></textarea>
      </div>
    </div>
    <div class="form__row">
      <div class="form__field">
        <h3>Теги</h3>
        <MultiSelect :options=select_options @tags='setTags'/>
      </div>
    </div>
    <div class="form__row">
      <button type="submit" class="btn btn--blue btn--large">Отправить</button>
    </div>
    <div class="form__row">
      <div class="info" v-show="attrs_data">
        Script will send next data: {{ attrs_data }}
      </div>
    </div>
  </form>
</template>

<script>
import MultiSelect from '@/components/MultiSelect.vue'

export default {
  components: {
    MultiSelect
  },
  data () {
    return {
      val_name: '',
      val_text: '',
      val_tags: [],
      attrs_data: null,
      select_options: [
        {
          value: 'Тег 1',
          caption: 'Тег 1'
        },
        {
          value: 'Тег 2',
          caption: 'Тег 2'
        },
        {
          value: 'Тег 3',
          caption: 'Тег 3'
        },
        {
          value: 'Тег 4',
          caption: 'Тег 4'
        }
      ]
    }
  },
  methods: {
    sendForm: function () {
      const attrsData = {
        name: this.val_name,
        text: this.val_text,
        tags: this.val_tags.toString().replace(',', ', ')
      }
      this.attrs_data = attrsData
      console.log(attrsData)
    },
    setTags: function (tags) {
      this.val_tags = tags.list_tags
    }
  }
}
</script>

<style scoped>
  h2 {
    width: 100%;
  }
</style>
