<template>
    <div class="multi-select">
      <div class="multi-select__actions">
        <div class="multi-select__actions__action multi-select__actions__action--text">
          <label for="val_tag">Добавление тега вручную</label>
          <div class="custom-input custom-input--combine">
            <input type="text" id="val_tag" v-model="val_tag"/>
            <button type="button" v-on:click="addTag" class="btn btn--blue">Добавить</button>
          </div>
        </div>
        <div class="multi-select__actions__action multi-select__actions__action--tag">
          <label for="options_tags">Добавление тега из списка</label>
          <select name="options_tags" id="option_tags" v-model="selected">
            <option v-for="option in options" :key="option.value" :value=option.value>{{ option.caption }}</option>
          </select>
        </div>
      </div>

      <div class="multi-select__status" v-show="status">{{ status }}</div>
      <div class="multi-select__tags-wrapper" v-show="list_tags.length > 0">
        <div class="multi-select__tags">
        <div v-for="tag in list_tags" :key="tag" class="multi-select__tags__tag">
          <span class="multi-select__tags__tag__name">{{ tag }}</span>
          <span class="multi-select__tags__tag__actions">
            <span class="multi-select__tags__tag__actions__action multi-select__tags__tag__actions__action-remove" v-on:click="removeTag(tag)">X</span>
          </span>
        </div>
          <!-- {{ list_tags }} -->
      </div>
      </div>
    </div>
</template>
<script>

export default {
  props: ['options'],
  data () {
    return {
      selected: '',
      val_tag: 'Тег 5',
      list_tags: [],
      status: ''
    }
  },
  methods: {
    addTag: function () {
      this.addTagToList(this.val_tag)
    },
    setTags: function () {
      this.$emit('tags', {
        list_tags: this.list_tags
      })
    },
    removeTag: function (tag) {
      const elemIndex = this.list_tags.indexOf(tag)
      this.list_tags.splice(elemIndex, 1)
      this.setTags()
    },
    addTagToList: function (tag) {
      if (!(this.list_tags.includes(tag))) {
        this.list_tags.push(tag)
        this.status = `Tag "${tag}" added`
        this.setTags()
      } else {
        this.status = `Tag "${tag}" already in list`
      }
    }
  },
  watch: {
    selected: function (val) {
      this.addTagToList(val)
    }
  }
}
</script>
<style scoped lang="scss">
  .multi-select {
    &__actions {
      display: flex;
      flex-direction: row;
      margin: -40px;
      .multi-select__actions__action {
        width: 50%;
        margin: 40px;

        label {
          text-align: left;
          margin-bottom: 3px;
          width: 100%;
          display: block;
        }

        @media (max-width: 767px) {
          width: 100%;
          margin: 20px 0;
        }
      }
      @media (max-width: 767px) {
        margin: -20px 0;
        flex-direction: column;
      }
    }

    .multi-select__tags-wrapper {
      border: 1px solid #fff;
      padding: 5px;
      box-sizing: border-box;
      margin-top: 10px;
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      margin: -3px;
      .multi-select__tags__tag {
        display: flex;
        flex-wrap: nowrap;
        border: 0;
        background-color: #fff;
        color: #333;
        padding: 5px;
        margin: 3px;
        cursor: default;
        .multi-select__tags__tag__actions {
          margin-left: 10px;
          border-left: 1px solid #333;
          padding-left: 4px;
          box-sizing: border-box;

          &__action {
            user-select: none;
            cursor:pointer;
          }
        }
      }
    }

    &__status {
      width: 100%;
      background-color: #00BFFF;
      padding: 10px 15px;
      box-sizing: border-box;
      margin-top: 10px;
    }
  }
</style>
