<template>
  <div class="container">
    <h1>Теги</h1>
    <FormComponent />
  </div>
</template>

<script>
import FormComponent from '@/components/FormComponent.vue'

export default {
  name: 'App',
  components: {
    FormComponent
  }
}
</script>

<style lang="scss">
html {
  background-color: #333;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  margin-top: 60px;

  .container {
      max-width: 1400px;
      margin: auto;
      padding: 0 100px;
  }

  .btn {
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    &--blue {
      background-color: #00BFFF;
      color: #fff;
      border-color: #fff;

      &:hover {
        background-color: darken($color: #00BFFF, $amount: 20);
      }
    }
    &--large {
      padding: 10px 15px;
    }

    &, &:hover {
      transition: background-color .15s ease;
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;

    &__field {
      display: flex;
      flex-direction: column;

      label, input, textarea, select {
        width: 100%;
      }
    }

    label {
      color: #fff;
      text-align: left;
      margin-bottom: 3px;
    }

    input, textarea, select {
      padding: 5px 10px;
      box-sizing: border-box;
      background-color: #333;
      border-color: #fff;
      color: #fff;
      outline:none;
      border: 1px solid #fff;

      &:focus {
        border-color: #fff;
        background-color: #222;
      }

      &, &:focus {
        transition: background-color .15s ease;
      }
    }

    &__row {
      width: 100%;
      margin-top: 20px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    .custom-input {
      &--combine {
        display: flex;
        border: 1px solid #fff;

        input {
          border: 0;
        }

        button {
          outline: none;
          outline: 0 !important;
          border-left: 1px solid #fff;
          border-right: 0;
          border-top: 0;
          border-bottom: 0;
        }
      }
    }
  }
}
</style>
